<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Acceso Denegado</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <h1>Acceso Denegado</h1>
        
        <h4>No tiene permisos para ver esta página o ejecutar esta acción</h4>
        <a th:href="@{/}"> [[#{accion.regresar}]]</a>
    </body>
</html>
